{% extends 'layout/base.html' %}


{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
{% include 'layout/under_baner.html' %}
<!-- contactAreaBlock -->
			<section class="contactAreaBlock contentBlock">
				<div class="container">
					<div class="row mb-5 align-items-center">
						<div class="col-12 col-md-5">
							<h2 class="text-uppercase">Как связаться с нами</h2>
							<p><span class="fontRoboto">Очень просто - стучите и вам откроют)</span></p>
							<!-- ctAddress -->
							<address class="ctAddress text-dark">
								<ul class="list-unstyled">
									<li class="d-flex align-items-center">
										<i class="ei_icon_pin_alt icn text-center flex-shrink-0"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal">Киев, Ломоносова, 50/2</strong>
									</li>
									<li class="d-flex align-items-center">
										<i class="ei_icon_mail_alt text-center icn flex-shrink-0"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal"><a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">gomebel@gmail.com</a></strong>
									</li>
									<li class="d-flex align-items-center">
										<i class="ei_icon_mobile icn text-center flex-shrink-0"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal"><a href="tel:+&#049;&#050;&#051;&#052;&#053;&#054;&#055;&#056;&#057;&#049;&#049;&#050;&#048;">(+123) 456-789-1120</a></strong>
									</li>
								</ul>
							</address>
						</div>
						<div class="col-12 col-md-6 offset-xl-1 col-xl-6">
							<!-- widgetCtForm -->
							<aside class="widget widgetCtForm hasShadow bg-white mb-4">
								<form action="javascript:void(0);">
									<!-- form group -->
									<div class="form-group">
										<input type="text" class="form-control w-100 d-block" placeholder="Name*">
									</div>
									<!-- form group -->
									<div class="form-group">
										<input type="tel" class="form-control w-100 d-block" placeholder="Phone">
									</div>
									<!-- form group -->
									<div class="form-group">
										<textarea class="form-control d-block w-100" placeholder="Message*"></textarea>
									</div>
									<!-- button -->
									<button class="btn btnTheme d-block w-100 text-uppercase" type="submit" data-hover="Отправить">
										<span class="d-block btnText">Сообщение</span>
									</button>
								</form>
							</aside>
						</div>
					</div>
					<!-- ctMapHolder -->
					<div class="ctMapHolder position-relative ">
						<!-- map -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.959233121295!2d30.462497015846225!3d50.38595849989062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8e197a74009%3A0x40fc7d9c702af6a!2z0YPQuy4g0JzQuNGF0LDQuNC70LAg0JvQvtC80L7QvdC-0YHQvtCy0LAsIDUwLzIsINCa0LjQtdCyLCAwMzE4OQ!5e0!3m2!1sru!2sua!4v1590944314085!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<!--						<span class="bgCover map d-block" style="background-image: url(https://goo.gl/maps/fPwA2rfRuBpyoKcJ7);"><span class="sr-only">map placeholder</span></span>-->
					</div>
				</div>
			</section>
{% endblock content %}