{% extends 'layout/base.html' %}


{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

			<!-- bannerSliderBlock -->
			<section class="bannerSliderBlock bannerSlider w-100 slickSlider text-center text-white">
				<!-- bannerSliderSlide -->
				<div class="bannerSliderSlide">
					<!-- bannerSlideHolder -->
					<div class="container bannerSlideHolder position-relative">
						<div class="align">
							<!-- bannerSlideHeader -->
							<header class="bannerSlideHeader">
								<h1 class="text-uppercase fwSemiBold fontBase">Закажите кухню своей мечты</h1>
								<p>Путь к холодильнику должен быть максимально приятным)</p>
							</header>
							<!-- btnHolder -->
							<footer class="btnHolder d-flex flex-wrap justify-content-center">
								<a href="/projects" class="btn btnThemeOutine text-uppercase" data-hover="Наши Проекты">
									<span class="d-block btnText">Подробнее</span>
								</a>
								<a href="/home/contacts" class="btn btnTheme text-uppercase" data-hover="Контакты">
									<span class="d-block btnText">Контакты</span>
								</a>
							</footer>
						</div>
					</div>
					<!-- bannerBlockSlideBg -->
					<span class="bgCover bannerBlockSlideBg d-block position-absolute" style="background-image: url('/static/img/ART_2331_small.jpg');">
						<img class="sr-only" src="/static/img/ART_2331_small.jpg" alt="image description">
					</span>
				</div>
				<!-- bannerSliderSlide -->
				<div class="bannerSliderSlide">
					<!-- bannerSlideHolder -->
					<div class="container bannerSlideHolder position-relative">
						<div class="align">
							<!-- bannerSlideHeader -->
							<header class="bannerSlideHeader">
								<h1 class="text-uppercase fwSemiBold fontBase">Ваша кухня ждет вас</h1>
								<p>Функционал и дизайн в одном наборе</p>
							</header>
							<!-- btnHolder -->
							<footer class="btnHolder d-flex flex-wrap justify-content-center">
								<a href="/projects" class="btn btnThemeOutine text-uppercase" data-hover="Наши проекты">
									<span class="d-block btnText">Подробнее</span>
								</a>
							</footer>
						</div>
					</div>
					<!-- bannerBlockSlideBg -->
					<span class="bgCover bannerBlockSlideBg d-block position-absolute" style="background-image: url('/static/img/ART_2334-Edit_small.jpg');">
						<img class="sr-only" src="/static/img/ART_2334-Edit_small.jpg" alt="image description">
					</span>
				</div>
				<!-- bannerSliderSlide -->
				<div class="bannerSliderSlide">
					<!-- bannerSlideHolder -->
					<div class="container bannerSlideHolder position-relative">
						<div class="align">
							<!-- bannerSlideHeader -->
							<header class="bannerSlideHeader">
								<h1 class="text-uppercase fwSemiBold fontBase">Любая мебель на заказ</h1>
								<p>Комфорт вашей квартиры у Вас под контролем</p>
							</header>
							<!-- btnHolder -->
							<footer class="btnHolder d-flex flex-wrap justify-content-center">
								<a href="/projects" class="btn btnThemeOutine text-uppercase" data-hover="Наши проекты">
									<span class="d-block btnText">Подробнее</span>
								</a>
								<a href="/home/contacts" class="btn btnTheme text-uppercase" data-hover="Контакты">
									<span class="d-block btnText">Контакты</span>
								</a>
							</footer>
						</div>
					</div>
					<!-- bannerBlockSlideBg -->
					<span class="bgCover bannerBlockSlideBg d-block position-absolute" style="background-image: url('/static/img/ART_2364_small.jpg');">
						<img class="sr-only" src="/static/img/ART_2364_small.jpg" alt="image description">
					</span>
				</div>
			</section>
			<!-- aboutIntroBlock -->
			<section class="aboutIntroBlock pb-0 text-center text-lg-left position-relative">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8">
							<div class="pr-xl-5">
								<!-- headingHead -->
								<header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
									<!-- blockH -->
									<h2 class="text-uppercase blockH font-weight-bold">
										<!-- hTitle -->
										<strong class="font-weight-normal hTitle d-block fontBase">About</strong>
										<span class="d-block">Who We Are?</span>
									</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu  eu fugiat nulla pariatur.</p>
								</header>
								<!-- featuresList -->
								<ul class="list-unstyled d-flex flex-wrap featuresList text-left wow fadeInUp" data-wow-delay="0.1s">
									<li>
										<div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
											<i class="icn icmon_01 inaccessible"><span class="sr-only">icon</span></i>
											<h3 class="fwSemiBold fontBase counter">18</h3>
											<h4 class="font-weight-normal fontBase">Year Experience</h4>
										</div>
									</li>
									<li>
										<div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
											<i class="icn icmon_02 inaccessible"><span class="sr-only">icon</span></i>
											<h3 class="fwSemiBold fontBase counter">190</h3>
											<h4 class="font-weight-normal fontBase">Project Done</h4>
										</div>
									</li>
									<li>
										<div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
											<i class="icn icmon_03 inaccessible"><span class="sr-only">icon</span></i>
											<h3 class="fwSemiBold fontBase counter">80</h3>
											<h4 class="font-weight-normal fontBase">Hours Working</h4>
										</div>
									</li>
									<li>
										<div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
											<i class="icn icmon_04 inaccessible"><span class="sr-only">icon</span></i>
											<h3 class="fwSemiBold fontBase counter">260</h3>
											<h4 class="font-weight-normal fontBase">Win Award</h4>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-lg-4 position-static">
							<!-- widgetQuoteFormCollapse -->
							<div class="collapse widgetQuoteFormCollapse" id="collapseQuoteForm">
								<!-- widgetForm -->
								<aside class="widget widgetForm bg-white hasShadow rounded text-left mb-0">
									<form action="#">
										<!-- widgetFormtHead -->
										<header class="widgetFormtHead d-flex position-relative">
											<i class="icn ti-headphone-alt d-flex align-items-center justify-content-center flex-shrink-0"><span class="sr-only">icon</span></i>
											<div class="wrap">
												<strong class="textTitle d-block font-weight-normal">Lorem ipsum dolor sit amet</strong>
												<h3 class="font-weight-bold">Request A Quote</h3>
											</div>
										</header>
										<!-- form group -->
										<div class="form-group">
											<input type="text" class="form-control d-block w-100" placeholder="Your Name">
										</div>
										<!-- form group -->
										<div class="form-group">
											<input type="tel" class="form-control d-block w-100" placeholder="Phone:">
										</div>
										<!-- form group -->
										<div class="form-group">
											<select class="custom-select">
												<option>Choose Subject</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<!-- form group -->
										<div class="form-group">
											<textarea class="form-control d-block w-100" placeholder="Message"></textarea>
										</div>
										<!-- button -->
										<button type="submit" class="btn btnTheme text-uppercase d-block w-100" data-hover="submit now">
											<span class="d-block btnText">Submit Now</span>
										</button>
									</form>
								</aside>
							</div>
						</div>
					</div>
				</div>
				<!-- quoteFormOpener -->
				<a class="btn btnTheme quoteFormOpener ti-angle-left d-lg-none" data-toggle="collapse" href="#collapseQuoteForm" role="button" aria-expanded="false" aria-controls="collapseQuoteForm"><span class="sr-only">open</span></a>
			</section>
			<!-- servicesBlock -->
			<section class="contentBlock servicesBlock text-center">
				<div class="container">
					<div class="row">
						<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
							<!-- headingHead -->
							<header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
								<!-- blockH -->
								<h2 class="text-uppercase blockH font-weight-bold">
									<!-- hTitle -->
									<strong class="font-weight-normal hTitle d-block fontBase">Services</strong>
									<span class="d-block">What We Do</span>
								</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</header>
						</div>
					</div>
					<!-- svColsRow -->
					<div class="row justify-content-center svColsRow no-gutters wow fadeInUp" data-wow-delay="0.1s">
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-ruler-pencil d-block"><span class="sr-only">icon</span></i>
									<h3>Design &amp; Drawings</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-reload d-block"><span class="sr-only">icon</span></i>
									<h3>Rebuild Design</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-paint-roller d-block"><span class="sr-only">icon</span></i>
									<h3>Custom Design</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-paint-bucket d-block"><span class="sr-only">icon</span></i>
									<h3>Kitchen Design</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-settings d-block"><span class="sr-only">icon</span></i>
									<h3>Installation</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
						<div class="col-12 col-md-4 d-md-flex col">
							<!-- serviceColumn -->
							<article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
								<div class="align">
									<i class="icn ti-package d-block"><span class="sr-only">icon</span></i>
									<h3>Fast Delivery</h3>
									<p>Nam orci neque, tincidunt in vel vehicula vel lectus fusce libero neque</p>
								</div>
								<!-- columnBgCover -->
								<span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
									<img class="sr-only" src="http://placehold.it/395x260" alt="image description">
								</span>
							</article>
						</div>
					</div>
				</div>
			</section>
			<!-- stepsDescrBlock -->
			<section class="bg-light stepsDescrBlock text-center contentBlock">
				<div class="container">
					<div class="row">
						<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
							<!-- headingHead -->
							<header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
								<!-- blockH -->
								<h2 class="text-uppercase blockH font-weight-bold">
									<!-- hTitle -->
									<strong class="font-weight-normal hTitle d-block fontBase">Step</strong>
									<span class="d-block">How We Work</span>
								</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</header>
						</div>
					</div>
					<!-- stepsGuideList -->
					<ul class="list-unstyled position-relative stepsGuideList d-md-flex justify-content-md-center wow fadeInUp" data-wow-delay="0.1s">
						<li class="hasOver">
							<i class="icn rounded-circle mx-auto text-dark bg-white ti-search d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
							<h3>Search Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
						</li>
						<li class="hasOver">
							<i class="icn rounded-circle mx-auto text-dark bg-white ti-calendar d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
							<h3>Book Cover Design</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium.</p>
						</li>
						<li class="hasOver">
							<i class="icn rounded-circle mx-auto text-dark bg-white ti-pencil-alt d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
							<h3>Make Your Design</h3>
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto enim ipsam.</p>
						</li>
					</ul>
				</div>
			</section>
			<!-- prejectsListingBlock -->
			<section class="contentBlock prejectsListingBlock">
				<div class="container">
					<!-- filterRowWrap -->
					<div class="row align-items-md-end filterRowWrap wow fadeInUp" data-wow-delay="0.1s">
						<div class="col-12 col-md-4">
							<!-- headingHead -->
							<header class="headingHead">
								<!-- blockH -->
								<h2 class="text-uppercase blockH font-weight-bold mb-0">
									<!-- hTitle -->
									<strong class="font-weight-normal hTitle d-block fontBase">Проекты</strong>
									<span class="d-block">Наши Работы</span>
								</h2>
							</header>
						</div>
						<div class="col-12 col-md-8">
							<!-- filterList -->
							<ul class="list-unstyled filterList d-md-flex justify-content-md-end position-relative isoFiltersList text-capitalize">
								<li class="active"><a href="#">Все</a></li>
								<li><a href="javascript:void(0);" data-filter=".vintage">Vintage</a></li>
								<li><a href="javascript:void(0);" data-filter=".morden">Morden</a></li>
								<li><a href="javascript:void(0);" data-filter=".minimal">Minimal</a></li>
								<li><a href="javascript:void(0);" data-filter=".coastal">Coastal</a></li>
							</ul>
						</div>
					</div>
					<!-- isoContentHolder -->
					<div class="isoContentHolder row">
						<div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
							<div class="col-12 col-md-6 col-lg-4 isoCol vintage">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/ART_2331_small.jpg');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Coastal</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6 col-lg-4 isoCol minimal">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/IMG_1683.JPG');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6 col-lg-4 isoCol vintage">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/ART_2364_small.jpg');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6 col-lg-4 isoCol coastal">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/ART_2364_small.jpg');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Minimal</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6 col-lg-4 isoCol vintage">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/ART_2364_small.jpg');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
							<div class="col-12 col-md-6 col-lg-4 isoCol morden">
								<!-- prPostColumn -->
								<article class="prPostColumn hasOver position-relative">
									<!-- prColumnBgCover -->
									<span class="bgCover prColumnBgCover d-block" style="background-image: url('/static/img/IMG_1683.JPG');">
										<img class="sr-only" src="http://placehold.it/370x250" alt="image description">
									</span>
									<!-- prPostCaption -->
									<div class="prPostCaption bg-white rounded">
										<h3>
											<!-- hTitle -->
											<strong class="font-weight-normal hTitle d-block fontBase">Morden</strong>
											<span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
										</h3>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- clientsTestimonialBlock -->
			<section class="clientsTestimonialBlock text-center position-relative contentBlock">
				<div class="container">
					<div class="row wow fadeInUp" data-wow-delay="0.1s">
						<div class="col-12 offset-lg-2 col-lg-8">
							<!-- headingHead -->
							<header class="headingHead">
								<!-- blockH -->
								<h2 class="text-uppercase blockH font-weight-bold mb-0">
									<!-- hTitle -->
									<strong class="font-weight-normal hTitle d-block fontBase">Testimonials</strong>
									<span class="d-block">Happy Clients</span>
								</h2>
							</header>
							<!-- testimonialSingleSlider02 -->
							<div class="testimonialSingleSlider02 slickSlider">
								<div>
									<!-- clientQuote -->
									<blockquote class="clientQuote clientQuote02 mb-0">
										<q class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice. Good luck with your business.</q>
										<!-- cite -->
										<cite class="wrap d-block">
											<strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">John Martin</a></strong>
											<em class="h5 d-block font-weight-normal">Ceo-Deercreative</em>
										</cite>
									</blockquote>
								</div>
								<div>
									<!-- clientQuote -->
									<blockquote class="clientQuote clientQuote02 mb-0">
										<q class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice. Good luck with your business.</q>
										<!-- cite -->
										<cite class="wrap d-block">
											<strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">John Martin</a></strong>
											<em class="h5 d-block font-weight-normal">Deercreative</em>
										</cite>
									</blockquote>
								</div>
								<div>
									<!-- clientQuote -->
									<blockquote class="clientQuote clientQuote02 mb-0">
										<q class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice. Good luck with your business.</q>
										<!-- cite -->
										<cite class="wrap d-block">
											<strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">John</a></strong>
											<em class="h5 d-block font-weight-normal">Ceo</em>
										</cite>
									</blockquote>
								</div>
								<div>
									<!-- clientQuote -->
									<blockquote class="clientQuote clientQuote02 mb-0">
										<q class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice</q>
										<!-- cite -->
										<cite class="wrap d-block">
											<strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">Dig</a></strong>
											<em class="h5 d-block font-weight-normal">Ceo</em>
										</cite>
									</blockquote>
								</div>
							</div>
							<!-- testimonialSwitcherSlider02 -->
							<div class="testimonialSwitcherSlider02 slickSlider mx-auto">
								<div>
									<!-- testimonialSwitcherPicWrap -->
									<div class="rounded-circle testimonialSwitcherPicWrap testimonialSwitcherPicWrap02 position-relative">
										<img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
									</div>
								</div>
								<div>
									<!-- testimonialSwitcherPicWrap -->
									<div class="rounded-circle testimonialSwitcherPicWrap testimonialSwitcherPicWrap02 position-relative">
										<img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
									</div>
								</div>
								<div>
									<!-- testimonialSwitcherPicWrap -->
									<div class="rounded-circle testimonialSwitcherPicWrap testimonialSwitcherPicWrap02 position-relative">
										<img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
									</div>
								</div>
								<div>
									<!-- testimonialSwitcherPicWrap -->
									<div class="rounded-circle testimonialSwitcherPicWrap testimonialSwitcherPicWrap02 position-relative">
										<img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ltPostsBlock -->
			<section class="contentBlock ltPostsBlock">
				<div class="container">
					<div class="row">
						<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center">
							<!-- headingHead -->
							<header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
								<!-- blockH -->
								<h2 class="text-uppercase blockH font-weight-bold">
									<!-- hTitle -->
									<strong class="font-weight-normal hTitle d-block fontBase">Новости</strong>
									<span class="d-block">ПРО Мебель</span>
								</h2>
								<p>Вам однозначно будет интересно ознакомиться с этим материалом)</p>
							</header>
						</div>
					</div>
					<div class="row wow fadeInUp" data-wow-delay="0.1s">

						{% for post in posts %}

						<div class="col-12 col-md-6 col-lg-4">
							<!-- ltPostColumn -->
							<article class="ltPostColumn hasOver">
								<!-- aligncenter -->
								<div class="aligncenter position-relative">
									<img src="/media/{{ post.image }}" alt="image description">
								</div>
								<!-- descriptionWrap -->
								<div class="descriptionWrap d-md-flex align-items-md-start">
									<time datetime="2011-01-12" class="d-inline-block d-md-block time flex-shrink-0 rounded text-white text-center">
										<strong class="fwSemiBold d-md-block textLarge">{{ post.published|date:"j" }}</strong>
										<span class="d-md-block">{{ post.published|date:"M" }}</span>
										<span class="d-md-block">{{ post.published.year }}</span>
									</time>
									<div class="wrap">
										<h3><a href="blog-detail.html">{{ post.title }}</a></h3>
										<p>{{ post.about }}</p>
										<a href="/news/details/{{ post.id }}" class="btnMore d-inline-block">Подробнее <i class="icn ei_arrow_right"><span class="sr-only">icon</span></i></a>
									</div>
								</div>
							</article>
						</div>

						{% endfor %}

					</div>
				</div>
			</section>

{% endblock content %}

