    <!-- pageBdWrapNav Банер под меню -->
    <nav class="pageBdWrapNav bg-light"  aria-label="breadcrumb">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-7">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb pageBreadcrumb m-0 p-0 text-capitalize">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <i class="fas fa-home icn"><span class="sr-only">icon</span></i>
                                Главная
                            </a>
                        </li>
                        {% if pre_href %}
                            <li class="breadcrumb-item"><a href="/{{ pre_href }}">{{ pre_title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                        {% endif %}

                    </ol>
                </div>
                <div class="col-12 col-md-5 d-none d-md-flex align-items-md-center justify-content-md-end">
                    <!-- title -->
                    <strong class="title d-block text-right fontRoboto fwMedium text-capitalize text-dark">{{ title }}</strong>
                </div>
            </div>
        </div>
    </nav>
